html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Special Elite', cursive;
	background-color: #202020;
	color: white;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

.Page {
  width: 100%;
	height: 100vh;
	display: none;
	top: 0;
}

#Login p {
	margin-top: 35vh;
	width: 100%;
	text-align: center;
	font-size: 64px;
}

#Login input {
	display: block;
	position: relative;
	margin: 1vh auto;
	border: none;
	border-bottom: 1px solid white;
	padding: 10px;
	background-color: transparent;
	font-size: 32px;
	font-family: 'Special Elite', cursive;
	color: white;
}

#Login input::placeholder {
	font-family: 'Special Elite', cursive;
}

#go {
	background-color: transparent;
	border: 1px solid white;
	display: block;
	position: relative;
	font-size: 32px;
	color: white;
	font-family: 'Special Elite', cursive;
	cursor: pointer;
	padding: 15px 20px;
	margin: 4vh auto;
}

#livesarea {
	border-radius: 50px;;
	background-color: #313131;
	position: absolute;
	height: 75vh;
	top: 12.5vh;
	width: 100px;
	margin-left: 6%;
}


#mylives {
	transition: all 0.5s ease-out;
	border-radius: 100%;
	background-color: #313131;
	border: 1px solid white;
	position: absolute;
	font-size: 42px;
	height: 100px;
	width: 100px;
	left: -1px;
	text-align: center;
	line-height: 110px;
	top: calc(50% - 50px);
	z-index: 10;
}

#life {
	transition: all 0.5s ease-out;
	border-radius: 100%;
	border: 1px solid #49CB66;
	position: absolute;
	height: 100px;
	width: 100px;
	left: -1px;
	top: 0px;
}

#death {
	transition: all 0.5s ease-out;
	border-radius: 100%;
	border: 1px solid #CB4949;
	position: absolute;
	height: 100px;
	width: 100px;
	left: -1px;
	bottom: 0px;
}

#pickdeck {
	width: 100%;
	height: 420px;
	display: block;
	position: absolute;
	background-color: #313131;
	left: 0;
	bottom: 0;
	overflow-x: scroll;
	overflow-y: hidden;

	transition: all 0.5s ease;
}

#widething {
	display: block;
	position:absolute;
	width: 1440px;
	height: 1px;
	left: 0px;
	top: 0px;
}

.hand {
	width: 800px;
	height: 220px;
	display: block;
	position: absolute;
	background-color: #313131;
	margin: 0 auto;
	left: 0;
	right: 0;
	overflow-x: scroll;
	overflow-y: hidden;

	transition: all 0.5s ease;
}

#enemyhand {
	top: -105px;
}

#myhand {
	bottom: 0px;
}


::-webkit-scrollbar-button{ 
	display: none; 
	height: 13px; 
	border-radius: 0px; 
	background-color: #AAA; 
} 
::-webkit-scrollbar-thumb{ 
	background-color: #797979; 
} 
::-webkit-scrollbar-thumb:hover{ 
	background-color: #191919; 
} 
::-webkit-scrollbar-track{ 
	background-color: #3d3d3d; 
} 
::-webkit-scrollbar{ 
	width: 5px; 
}

#game {
	position: absolute;
	left: 0;
	right: 0;
	top: -60px;
	display: block;
	margin: calc(50vh - 161.5px) auto;
	width: 485px;
	
	transition: all 0.5s ease;
}

#forest {
	width: 360px;
	height: 320px;
	background-color: white;
	background-image: url("images/forest.png");
	position: absolute;
	transition: all .5s ease;
	cursor:copy;
	top:30px;
	right: calc(50% - 180px);
	border-radius: 5px;
	box-shadow: -1px 1px 4px  black;

}

#carddescwrapper {
	width: 360px;
	height: 160px;
	position: absolute;
	transition: all .5s ease;
	top:190px;

	left: 50%;
	opacity: 0;

}

#carddesc {
	width: 300px;
	height: 130px;
	color: white;
	font-size: 20px;
	position: absolute;
	transition: all .5s ease;
	top:0;

	left: 30px;
	top: 30px;
}

#forest:hover {
	z-index: 5;
	transform: scale(1.1);
	box-shadow: -3px 3px 7px  black;
}

#bfoutlines td {
	width: 120px;
	height: 160px;
	border: 1px solid rgb(120,120,120);
	border-style: dashed;
	transition: all 0.5s ease;
}

.placemarker {
	background-color:#37393a;
}

.sacrifice  {
	background-color:#F3C3C3 !important;
	transform: scale(0.9);
}

.sacrificeChoose  {
	background-color:#634242 !important;
	transform: scale(0.8) !important;
}


.die  {
	background-color:#634242 !important;
	transform: scale(0.1) !important;
	opacity: 0!important;
}


.cardrow {
	width: 650px;
	position: relative;
	display: block;
	white-space: nowrap;
}

.drawdeck {
	height: 160px;
	width: 120px;
	position: absolute;
	right: 7.5%;
	background-color: #313131;
	border: 1px solid white;
}

#edeck {
	top: calc(5vh - 105px);
}

#mdeck {
	top: 79vh;
}

#myname {
	position: absolute;
	font-size: 30px;
	color: white;
	bottom:  30px;
	left: 30px;
}

#enemyname {
	position: absolute;
	font-size: 30px;
	color: white;
	top:  30px;
	left: 30px;
}

.cardback {
	width: 120px;
	height: 160px;
	background-color: #4E4E4E;
	position: absolute;
	transition: all .5s ease;
	border-radius: 5px;
	box-shadow: -1px 1px 4px  black;
}

.card {
	width: 120px;
	height: 160px;
	background-color: white;
	background-image: url("images/cardoverlay.png");
	position: absolute;
	transition: all .5s ease;
	border-radius: 5px;
	box-shadow: -1px 1px 4px  black;
}

.card:hover, .cardback:hover, .cardfloat {
	z-index: 5;
	transform: scale(1.1);
	box-shadow: -3px 3px 7px  black;
}

.zoombattlefield {
	z-index: 5;
	transform: scale(1.1);
	box-shadow: -3px 3px 7px  black;
}


.card * {
	color: black;
	font-size: 25px;
}

.ctitle {
	padding: 10px;
	font-size: 15px;
}

.ccimg {
	position: absolute;
	top: 45px;
}


.cblood {
	position: absolute;
	top: 10px;
}

.csym {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 15px);
}

.ca {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

.ch {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

#enTurn {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 16vh auto;
	font-size: 26px;
	color: red;
	transition: all .5s ease;
	opacity: 0;
}

#myTurn {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 70vh auto;
	font-size: 26px;
	color: white;
	transition: all .5s ease;
	opacity: 0;
}

i {
	cursor: pointer;
}

#bell {
	position: absolute;
	margin: calc(50vh - 80px) calc(50% - 320px);
	font-size: 40px;
	color: #313131;
	transition: all 1s ease;
}